@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
.boton, .boton-porta, .boton-chips, .boton-lnva {
  width: 50%;
  height: 15%;
  background-color: #EC3B15;
  color: #ffffff;
  border: .15em solid;
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
  animation: opacityPulse 5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0; }

/*HEADER*/
#header {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(to right, #f01010, #eb1d16, #e7251c, #e22c21, #dd3225, #dc3627, #da3a2a, #d93d2c, #db402e, #dd4430, #df4732, #e14a34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.logo {
  width: 8rem;
  height: 8rem;
  border-radius: 5%; }

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: none;
  color: #FFFFFF !important;
  font-size: 1.4em;
  font-weight: lighter; }
  .nav-link:hover {
    background-color: #000000; }

@media screen and (max-width: 768px) {
  #header {
    height: 40vh;
    font-size: 1em; } }

.container-video {
  width: 100%;
  height: 70vh;
  background-color: #000000; }

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.titulo {
  font-size: 1.6em;
  font-weight: bold;
  background-color: #EC3B15;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card-img-top {
  transition: all 1s; }
  .card-img-top:hover {
    transform: scale(1.2); }

.card-title {
  color: #EC3B15;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%; }

.card-text {
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%; }

.container-texto {
  margin-top: 1%;
  width: 100%;
  height: 55vh;
  background-image: linear-gradient(to bottom, #f01010, #eb1d16, #e7251c, #e22c21, #dd3225, #dc3627, #da3a2a, #d93d2c, #db402e, #dd4430, #df4732, #e14a34); }

.texto {
  padding-top: 3%;
  width: 100%;
  height: 50vh;
  color: #ffffff;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto; }

.container-aside {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold; }

.video-prepago {
  width: 40vw;
  height: 50vh;
  transition: all 1s; }
  .video-prepago:hover {
    transform: scale(1.2); }

.iframe {
  width: 40vw;
  height: 50vh;
  transition: all 1s; }
  .iframe:hover {
    transform: scale(1.2);
    transform: scale(1.2); }

@media screen and (max-width: 767px) {
  .video-prepago {
    width: 80vw;
    height: 70vh;
    margin: 1%; }
  .iframe {
    width: 80vw;
    height: 70vh;
    margin: 1%; } }

#footer {
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(to right, #f01010, #eb1d16, #e7251c, #e22c21, #dd3225, #dc3627, #da3a2a, #d93d2c, #db402e, #dd4430, #df4732, #e14a34);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%; }

.footer-texto {
  color: #ffffff;
  font-size: 1.4em;
  font-weight: lighter; }

.footer-imagen {
  display: flex;
  width: 3rem; }

@media screen and (max-width: 576px) {
  #footer {
    height: 30vh;
    font-size: 1em;
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 576px) and (max-width: 986px) {
  #header {
    height: 40vh;
    font-size: 1em; } }

/*PASATE A CLARO*/
.container-porta {
  margin-top: 3%;
  column-gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card-body {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5%; }

.font-portabilidad {
  font-size: 1.6em; }

.imagen-movistar {
  width: 100%;
  height: 70%;
  margin: auto;
  object-fit: contain;
  transition: all 1s; }
  .imagen-movistar:hover {
    transform: scale(1.1); }

.imagen-personal {
  width: 100%;
  height: 70%;
  margin: auto;
  object-fit: contain;
  transition: all 1s; }
  .imagen-personal:hover {
    transform: scale(1.1); }

/*LINEA NUEVA*/
.texto-lnva {
  text-align: center; }

.titulo-lnueva {
  margin-top: 3%;
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  animation-duration: 1s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.subtitulo-lnueva {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #DC2727;
  color: #FFFFFF; }

.beneficios-lnueva {
  list-style: none;
  font-size: 1.8em;
  color: #000000;
  font-weight: bold; }

.listado-beneficios {
  font-size: 1.8em;
  color: #000000; }

/*VENTA DE CHIPS*/
.chips {
  margin: auto; }

/*CONTACTO*/
.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.cajaform__contacto {
  width: 70vw;
  height: 70vh;
  row-gap: 5%;
  color: #FFFFFF;
  font-size: 1.6em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  animation-name: animacion__contacto;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

fieldset {
  width: 400px; }

.input__contacto {
  margin: 3%;
  text-align: center;
  width: 50%;
  height: 30px; }

.input__contacto:focus {
  width: 60%;
  height: 40px; }

@keyframes animacion__contacto {
  0% {
    background-color: #d11212 207, 47, 7 241, 10, 10; }
  25% {
    background-color: #d93d2c; }
  50% {
    background-color: #000000; }
  75% {
    background-color: #d11212; }
  100% {
    background-color: #000000; } }

.boton-porta {
  margin-top: 5%; }

.menu-drop {
  width: 35%; }

.item {
  width: 100%;
  font-size: 1.4em;
  font-weight: lighter;
  text-align: center;
  border: 1px;
  padding: 1%;
  background-color: #EC3B15;
  color: #ffffff; }

.boton-chips {
  margin-top: 5%;
  width: 30%;
  height: 5%;
  margin-top: 3%; }

.boton-lnva {
  width: 30%;
  height: 5%;
  margin-top: 3%; }

.boton-chips {
  width: 30%;
  height: 5%;
  margin-top: 3%; }

@keyframes opacityPulse {
  0% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif !important; }
