

.boton-porta{
    @extend .boton;
    margin-top: 5%;
}

.menu-drop{
    width: 35%;
}

.item{
    @include item
}
.boton-chips{
    @extend .boton;
    margin-top: 5%;
    width: 30%;
    height: 5%;
    margin-top: 3%;
}

.boton-lnva {
    @extend .boton;
    width: 30%;
    height: 5%;
    margin-top: 3%;
}

.boton-chips{
    @extend .boton;
    width: 30%;
    height: 5%;
    margin-top: 3%;
}

@keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

    