@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: 'Roboto', sans-serif;
font-size: 62.5%;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
}

/*INDEX*/

#header{
    width:100%;
    height:20vh;
    background-image: linear-gradient(to right, #f01010, #eb1d16, #e7251c, #e22c21, #dd3225, #dc3627, #da3a2a, #d93d2c, #db402e, #dd4430, #df4732, #e14a34) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.logo{
    width:8rem;
    height:8rem;
    border-radius: 5%;
}

.encabezado{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.navheader{
    width:100%;
    display:flex;
    list-style: none;
    justify-content:space-around;
}

.navheader a {
    text-decoration: none;
    box-shadow: none;
    color: #FFFFFF !important;
    font-size:1.3em;
    font-weight: lighter;
}

.link{
   gap: 3rem;
}

.nav-link:hover{
    color: #dd2727 !important;
    background-color: #000000;
}
.container-video{
    width: 100%;
    height: 70vh;
    background-color: #000000;
}
.video{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.titulo{
    font-size: 1.6em;
    font-weight: bold;
    background-color: #EC3B15;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagen-servicios{
    width: 25vw;
    height:60vh;
    display: flex;
    object-fit: contain;
    transition: all 3s;
}

.imagen-servicios:hover{
    transform: scale(1.2);
}

.back{
    background-color: #f5f5f5;
}

.card-title{
    color: #EC3B15;
    font-size: 1.8em;
    font-weight: bold;
    
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.card-text{
    font-size: 1.4em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mas-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #ec3c15;
}

.container-texto{
    margin-top: 1%;
    width:100%;
    height:55vh;
    background-image: linear-gradient(to bottom, #f01010, #eb1d16, #e7251c, #e22c21, #dd3225, #dc3627, #da3a2a, #d93d2c, #db402e, #dd4430, #df4732, #e14a34);
}

.texto{
    padding-top: 3%;
    width:100%;
    height:50vh;
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.container-aside{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.video__prepago{
    width:40vw;
    height: 50vh;
    transition: all 3s
} 

.iframe{
    width:40vw;
    height: 50vh;
    transition: all 3s
}

.video__prepago:hover{
    transform: scale(1.2);
}

.iframe:hover{
    transform: scale(1.2);
}

#footer{
    margin-top: 3%;
    width:100%;
    height:15vh;
    background-image: linear-gradient(to right, #f01010, #eb1d16, #e7251c, #e22c21, #dd3225, #dc3627, #da3a2a, #d93d2c, #db402e, #dd4430, #df4732, #e14a34);
}
.container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
   
}

.footer-texto{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: lighter;
}

.footer-imagen{
    display: flex;
    width:3rem;
}

/*PASATE A CLARO*/

.container__grid__porta{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.imagen__movistar{
    width: 30vw;
    height: 70vh;
    margin-top:5%;
    object-fit: contain;
    transition: all 1s
}

.imagen__movistar:hover{

    transform: scale(1.1);
}

.imagen__personal{
    width: 30vw;
    height: 70vh;
    margin-top:5%;
    object-fit: contain;
    transition: all 1s
}

.imagen__personal:hover{
    transform: scale(1.1);
}
.section__portabilidad{
    font-size:1.4em;
    font-weight:bold;
    display: flex;
    margin: 20px;
    column-gap: 30px;
}

.formulario{
    width: 60vw;
    height: 50vh;
    background-color:#EC3B15;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 3px;
    padding-top: 30px;
    font-size: 1.4em;
    color: #FFFFFF;
    font-weight: bold;
}

.formulario:hover{
    background-color: #000000;
    color: #EC3B15
}

.input{
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #F3EEEE;
    text-align: center;
    transition: all 5s;
}

.input:focus{
    width:40%;
    height:40%;
}

.boton{
    width: 70px;
    height: 40px;
    margin: 20px;
}

/*LINEA NUEVA*/

.container__linea__nva{
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 3%;
}

.titulo__linea__nueva{
    font-size: 2em;
    font-weight: bold;
    color:#ffffff;
}

.subtitulo__linea__nueva{
    font-size: 1.8em;
    font-weight: bold;
    color: #EC3B15;
    background-color: #a59e9ec2;
}

.beneficios__linea__nueva{
    font-size: 1.8em;
    color:#ffffff;
    font-weight: bold;
}

.listado__beneficios{
    font-size: 1.8em;
    color: #ffffff;
}

.texto__lnva{
    background-image: radial-gradient(circle, #e12929, #e02625, #df2222, #dd1f1e, #dc1b1a, #da1918, #d71615, #d51313, #d11212, #ce1111, #ca0f0f, #c70e0e);
    width: 30vw;
    height: 70vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 6%;
    margin-left: 3%;
    transition: all 3s;
}

.texto__lnva:hover {
    transform: scale(1.1);
}

.imagen__linea__nueva{
   width: 30vw;
   height:70vh;
   object-fit: contain;
   display:flex;
   flex-direction:column;
   justify-content:center;
   margin-top: 6%;
   margin-bottom: 7%;
   transition: all 3s;
}

.imagen__linea__nueva:hover {
    transform: scale(1.1);
}

.form__lnva{
    margin-right: 1%;
    background-image: radial-gradient(circle, #e12929, #e02625, #df2222, #dd1f1e, #dc1b1a, #da1918, #d71615, #d51313, #d11212, #ce1111, #ca0f0f, #c70e0e);
    width: 30vw;
    height: 70vh;
    background-color:#EC3B15;
    text-align: center;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 7%;
    border-radius: 3px;
    padding-top: 20px;
    font-size: 1.3em;
    color: #FFFFFF;
    font-weight: bold;
    transition: all 3s;
}

.form__lnva:hover {
    transform: scale(1.1);
}

.input__lnva{
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #F3EEEE;
    text-align: center;
}

.boton__lnva{
    width: 70px;
    height: 40px;
    margin: 20px;
}

/*VENTA DE CHIPS*/

.container__chips{
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1%;
}

.titulo__chips{
  margin-top: 2%;
  font-size: 2.6em;
  color: #000000;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.caja__vtachips{
   width: 30vw;
   height: 70vh;
   margin-left: 1%;
   margin-right: 2%;
   font-size: 1.6em;
   border-radius: 5px;
   color: #F3EEEE;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(to bottom, #f70606, #f11314, #ea1c1d, #e32325, #dc292b);
   transition: all 3s
}

.caja__vtachips:hover{
    transform: scale(1.1);
}

/*CONTACTO*/

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cajaform__contacto{
    width: 70vw;
    height: 70vh;
    row-gap: 5%;
    color: #FFFFFF;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top: 3%;
    animation-name: animacion__contacto;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

fieldset{
    width: 400px;
}

.input__contacto{
    margin: 3%;
    text-align: center;
    width:50%;
    height:30px;
}

.input__contacto:focus{
    width:60%;
    height:40px;
}
@keyframes animacion__contacto {
    0% {background-color: #d11212(207, 47, 7)(241, 10, 10);} /*Amarillo*/
   25% {background-color: #d93d2c;} /*Naranja*/
   50% {background-color: #000000;} /*Negro*/
   75% {background-color: #d11212;} /*Otra vez naranja*/
  100% {background-color: #000000;} /*Otra vez amarillo*/
}

@media screen and (max-width: 480px){
    .container__grid{
    grid-template-columns: auto;

    }
    #header{
     height: 30vh;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content:center;
     align-items:center;
     gap: 5px;
    
    }
    .navegacion a {
     display: flex;
     flex-direction: column;
     padding:0;
     justify-content:center;
     align-items:center;
     
    }
    .logo{
        margin: auto;
    }
    .imagen__principal{
        height: 50vh;
    }
    .imagen__servicios{
    width:100vw;
    height: 50vh;
    object-fit: contain;
    }
    .titulo{
    font-size:1.4em;
    margin: 0;
    text-align: center;
    }
    #footer{
     height: 30vh;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     
    }
    .footer__texto{
    display: flex;
     flex-direction: column;
     padding: 5px;
     justify-content:center;
     align-items:center;
    }
    .footer__imagen{
    position: relative;
    left: 50%;
    padding-top:5px;
    }
    .iframe{
        width:40vw;
        height:40vh;

    }
    .prepago{
    width:40vw;
    height:40vh;
    }
    .texto{
    font-size:1em;
    }
}